<div class="container mt-5">
    <h2>Edit User</h2>
    <form  (ngSubmit)="onSubmit()" #editUserForm="ngForm">
      <!-- Username -->
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          class="form-control"
          [(ngModel)]="user.Username"
          name="username"
          required
        />
      </div>
  
      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Gmail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          [(ngModel)]="user.Gmail"
          name="email"
          required
        />
      </div>
  
      <!-- Role -->
      <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <select
          id="role"
          class="form-select"
          [(ngModel)]="user.IsAdmin"
          name="role"
          required
        >
          <option value="true">Admin</option>
          <option value="false">User</option>
        </select>
      </div>
  
      <!-- Buttons -->
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary" [disabled]="!editUserForm.valid">
          Save Changes
        </button>
        <button type="button" class="btn btn-secondary"[routerLink]="['/admin/Users']">
          Cancel
        </button>
      </div>
    </form>
  </div>