<div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <div class="col-lg-2 col-sm-3 col-3 order-1">
                            <div class="logo_container">
                                <div class="logo"><a href="#">MoboDigi</a></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label text-muted">First Name</label>
                            <input type="text" id="First-Name" name="First-Name" placeholder="Enter Your First Name" class="form-control" #First_Name>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label text-muted">Last Name</label>
                            <input type="text" id="Last-Name" name="Last-Name" placeholder="Enter Your Last Name" class="form-control" #Last_Name>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label text-muted">Username</label>
                            <input type="text" id="Username" name="Username" placeholder="Enter Username " class="form-control" #Username (input)="Username_inp(Username)">
                            <span class="Wrong_Value">{{Wrong_username}}</span>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label text-muted">Gmail</label>
                            <input type="email" id="Gmail" name="Gmail" placeholder="Enter Your Gmail" class="form-control" #Gmail>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label text-muted">City</label>
                            <input type="text" id="City" name="City" placeholder="Enter Your City" class="form-control" #City>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label text-muted">Password</label>
                            <input type="password" id="psw" name="psw" placeholder="Enter Your Password" class="form-control" #Password (input)="Password_inp(Password)">
                            <span class="Wrong_Value">{{Wrong_password}}</span>
                            <span class="Invalid_Password">{{Match_password}}</span>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label text-muted">Re-Password</label>
                            <input type="password" id="re-psw" name="re-psw" placeholder="Enter Re-Password" class="form-control" #Re_Password>
                            <span class="Invalid_Password">{{Match_password}}</span>
                        </div>
                        <div class="row justify-content-center my-3 px-3">
                            <button class="btn-block btn-color" type="submit" (click)="SignUpbut(First_Name,Last_Name,Username,Gmail,City,Password,Re_Password,$event)">Sign Up</button>
                        </div>
                    </div>
                </div>
                <div class="bottom text-center mb-5">
                    <p href="#" class="sm-text mx-auto mb-3">Do have account?<button class="btn btn-white ml-2" [routerLink]="['/login']">Log in</button></p>
                </div>
            </div>
            <div class="card card2">
                <div class="my-auto mx-md-5 px-md-5 right">
                    <h3 class="text-white">We are more than just a company</h3>
                    <small class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium cumque omnis dolores aliquid perspiciatis facere, perferendis quisquam aliquam soluta earum itaque dolorem maiores ex, repellendus, similique ea amet quas doloribus.
                    Qui corrupti optio eos, fugiat ullam eaque dolorem iste quas itaque repudiandae quisquam atque magni reprehenderit velit, molestias saepe sequi neque suscipit tenetur? Officia nihil sunt harum aliquam, et fugiat?
                    Non autem nihil beatae! Ipsa at natus commodi aliquam rem tempora, eum quod deserunt consequatur dolore distinctio totam quos consectetur dolor illum blanditiis quam maxime voluptates quas esse! Quo, dolorem.
                    Nostrum, praesentium? Labore quae odio odit repellat earum nisi temporibus, totam minima in laborum explicabo vitae incidunt dignissimos nostrum voluptatibus, alias consectetur aliquam saepe optio molestias veniam? Minima, accusantium animi.
                    Distinctio at rerum, nisi est repellat consectetur accusantium deserunt nulla aliquam modi dolores debitis! Maiores expedita cum unde explicabo, ea sapiente autem architecto fuga, magnam incidunt error cumque, accusantium doloremque.</small>
                </div>
            </div>
        </div>
    </div>
</div>