<app-header></app-header>
<div appCarsoul>
    <div class="slide"wi>
        <img src="../assets/img/Carsoul/Carsoul1.jpg" alt="">
    </div>
    <div class="slide">
        <img src="../assets/img/Carsoul/Carsoul2.jpg" alt="">
    </div>
    <div class="slide">
        <img src="../assets/img/Carsoul/Carsoul3.png" alt="">
    </div>
    <div class="slide">
        <img src="../assets/img/Carsoul/Carsoul4.png" alt="">
    </div>
  <button class="prev">Previous</button>
  <button class="next">Next</button>
</div>
<app-product-cart></app-product-cart>
<app-footer></app-footer>