.admin-footer {
    background-color: #343a40;
    color: #ffffff;
    font-size: 14px;
  }
  
  .admin-footer a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .admin-footer a:hover {
    text-decoration: underline;
  }
footer{
    margin-top: 425px;
}